body {
    font-family: "Bebas Neue", sans-serif;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    overflow-y: hidden;
}

.top-navbar {
    background: linear-gradient(90deg, rgba(36, 0, 22, 0.9) 0%, rgba(121, 9, 9, 0.9) 10%, rgba(82, 54, 150, 0) 20%, rgba(58, 101, 181, 0) 80%, rgba(36, 143, 209, 0.9) 90%, rgba(0, 231, 255, 0.9) 100%);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.player-name-element {
    margin-top: 0px;
    font-size: 40px;
}

.player-squad-name-element {
    margin-top: 8px;
    font-size: 20px;
    font-style: italic;
}

.struggles-won-label-element {
    font-size: 20px;
    color: white;
}

.struggles-won-element {
    font-size: 20px;
    color: yellow;
}

.left-gradient {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0) 40%);
}

.right-gradient {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.50) 100%);
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.unit-name-div {
    margin-top: 30px;
    color: white;
    font-size: 20px;
}

.unit-img-div {
    width: 90px;
    height: 90px;
    background-image: url("");
    background-position: 97% 5%;
    background-size: 400px auto;
    border: 2px solid gray;
    border-radius: 4px;
}

#cardImage {
    background-color: transparent;
}

.modal-xl {
    max-width: 1000px;
}

.modal-content {
    background-color: transparent;
    border: none;
}

.wounds-img {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
    filter: invert(100%) brightness(3);
}

.damage-img {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
    filter: invert(100%) brightness(3);
}

.wounds-div {
    margin-top: 0px;
    color: lightblue;
    font-size: 30px;
}

.damage-div {
    margin-top: 0px;
    color: lightpink;
    font-size: 30px;
}

.margin-right-10 {
    margin-right: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

#logoImage {
    width: 130px;
    margin-bottom: 7px;
}

.momentum-element {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
}